            body {
                font-family: Arial;
                background-color:  #f4f4f4;
                margin: 100x; /*separa los parrafos*/
            }
        p {
        line-height: 1.6;

        }
        button{
            background-color: #1E90FF;
            border: none;
        }
        .btn {
            background-color: #1E90FF;
            color: white;
            padding: 10px 10px; /*define el tamaño del bloque*/
            text-decoration: none; /*quita el subrayado automatico del link*/
            border-radius: 10px; /* redondea el borde del bloque*/
        }
        .cabecera {
            height: 150px;
            display: flex;
            align-items: flex-start;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
            font-weight: 500;
            font-size: large;
            background-color: #2e3f65;
            color: #f9edb9;
            margin: 0;
            padding: 0px;
            text-align: left;
            position: sticky;
            top: 0;
            z-index: 1000;
        }
        .cabecera .container-fluid{
            height: 100%;
        }
        .cabecera .top-bar{
            height: 70%; 
        }
        .cabecera .bottom-bar {
             height: 30%;
            align-items: center;
        }
        .cabecera a {
            color: #f9edb9;
            font-weight: 700;
            text-decoration: none;
        }

        .cabecera a:hover {
            color: #002130;
        }
        .cabecera .navbar {
            padding-top: 0px;
            background-color: transparent;
            position: static;
        }
        .cabecera .dropdown-menu {
            background-color: #2e3f65;
        }
        .cabecera .logo{
            height: 100%;
            width: 165px;
            margin-top: -20px;
            background-color: transparent;
        }
   
