            body {
                font-family: Arial;
                background-color:  #f4f4f4;
                margin: 100x; /*separa los parrafos*/
            }
        p {
        line-height: 1.6;

        }
        button{
            background-color: #1E90FF;
            border: none;
        }
        .btn {
            background-color: #1E90FF;
            color: white;
            padding: 10px 10px; /*define el tamaño del bloque*/
            text-decoration: none; /*quita el subrayado automatico del link*/
            border-radius: 10px; /* redondea el borde del bloque*/
        }
        .cabecera {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
            font-weight: 500;
            font-size: large;
            background-color: #2e3f65;
            color: #f9edb9;
            margin: 0;
            padding: 2px;
            text-align: left;
            position: sticky;
            top: 0;
            z-index: 1000;
        }
        .cabecera a {
            color: #f9edb9;
            font-weight: 700;
        text-decoration: none;
        }

        .cabecera a:hover {
    color: #002130;
        }
        .cabecera .navbar {
            background-color: transparent;
        }
        .cabecera .dropdown-menu {
            background-color: #2e3f65;
        }
        .cabecera .logo{
            width: 150px;
            height: auto;
            background-color: red;
        }
   
